<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	    <title>Bloglist</title>
	
	    <!-- Bootstrap -->
	    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="bower_components/summernote/dist/summernote.css"/>
		<link rel="stylesheet" type="text/css" href="css/default.css"/>
	
	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
	      <script src="bower_components/respond/dest/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<%- include('nav.html') %>		
		<div class="container-fluid">
			<div class="container margin-top">
				<div class="col-md-3 aside well">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  						<div class="panel panel-default">
						    <div class="panel-heading" role="tab" id="headingOne">
						      	<h4 class="panel-title">
							        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							          	博客管理
							        </a>
						      	</h4>
						    </div>
						    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						      	<ul class="nav nav-pills nav-stacked">
						      		<li role="presentation"><a href="#manage" role="tab" data-toggle="tab">文章管理</a></li>
  									<li role="presentation"><a href="#edit" role="tab" data-toggle="tab">写博客</a></li>
  									<li role="presentation"><a href="#drafts" role="tab" data-toggle="tab">草稿箱</a></li>
  									<li role="presentation"><a href="#recycle" role="tab" data-toggle="tab">回收站</a></li>
								</ul>
						    </div>
  						</div>
					  	<div class="panel panel-default">
						    <div class="panel-heading" role="tab" id="headingThree">
						      	<h4 class="panel-title">
							        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							          	博客设置
							        </a>
						      	</h4>
						    </div>
						    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						      	<ul class="nav nav-pills nav-stacked">
						      		<li role="presentation"><a href="#center" role="tab" data-toggle="tab">个人中心</a></li>
  									<li role="presentation"><a href="#secure" role="tab" data-toggle="tab">账号安全</a></li>
								</ul>
						    </div>
					  	</div>
					</div>
				</div>
				
				<div class="col-md-9">
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="manage">
							<div class="row section">
								<div class="page-header ">
									<blockquote>文章管理</blockquote>
								</div>
								<ul class="nav nav-tabs " role="tablist">
								  	<li role="presentation" class="active"><a href="#all" role="tab" data-toggle="tab">全部 <span class="badge">42</span></a></li>
								  	<%for(var i=0;i<categorys.length;i++){%>
								  		<li role="presentation"><a href="#<%=categorys[i].category%>" role="tab" data-toggle="tab" data-cate="<%=categorys[i].id%>"><%=categorys[i].name%></a></li>
								  	<%}%>
								</ul>
								<div class="tab-content">
								    <div role="tabpanel" class="tab-pane active" id="all">
										<%- include('article.ejs') %>
								    </div>
								    <%for(var i=0;i<categorys.length;i++){%>
									    <div role="tabpanel" class="tab-pane" id="<%=categorys[i].category%>">
									    	<%for(var j=0;j<articles.length;j++){%>
									    		<%if(categorys[i].id == articles[j].cate_id){%>
											    	<div class="col-sm-6 col-md-4">
													    <div class="thumbnail">
													      	<div class="caption">
														        <h3><%=articles[j].title%></h3>
														        <p><%=articles[j].date%></p>
														        <p class="desc"><%=articles[j].content%></p>
														        <p>
														        	<a href="#" class="btn btn-primary" role="button">查看</a> 
														        	<a href="#" class="btn btn-danger" role="button">删除</a> 
														        </p>
													      	</div>
													    </div>
											  		</div>
											  	<%}%>
											<%}%>
								    	</div>
								  	<%}%>
								</div>
							</div>
							<div class="row footer">
								<nav aria-label="Page navigation">
								  	<ul class="pager">
									    <li>
									      	<a href="#" aria-label="Previous">
									        	<span aria-hidden="true">&laquo;</span>
									      	</a>
									    </li>
									    <li><a href="#">1</a></li>
									    <li><a href="#">2</a></li>
									    <li><a href="#">3</a></li>
									    <li><a href="#">4</a></li>
									    <li><a href="#">5</a></li>
									    <li>
									      	<a href="#" aria-label="Next">
									        	<span aria-hidden="true">&raquo;</span>
									      	</a>
									    </li>
								  	</ul>
								</nav>
							</div>
						</div>
						
						<div role="tabpanel" class="tab-pane" id="edit">
							<div class="row section">
								<div class="page-header ">
									<blockquote>写博客</blockquote>
								</div>
								<div class="well input-group">
									<input type="text" name="title" id="title" />
								</div>
								<div class="summernote"></div>
								<button id="save" class="btn btn-primary" >保存</button>
								<button id="publish" class="btn btn-primary" >发表</button>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="drafts">
							<div class="row section">
								<div class="page-header ">
									<blockquote>草稿箱</blockquote>
								</div>
								<ul class="nav nav-tabs " role="tablist">
								  	<li role="presentation" class="active"><a href="#" role="tab" data-toggle="tab">全部 <span class="badge">42</span></a></li>
								</ul>
								<div class="tab-content">
								    <div role="tabpanel" class="tab-pane active" >
										<%- include('article.ejs') %>
								    </div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="recycle">
							draftsRecyclesecure
						</div>
						<div role="tabpanel" class="tab-pane" id="secure">
							draftsRecyclesecurecenter
						</div>
						<div role="tabpanel" class="tab-pane" id="center">
							draftsRecyclesecurecenter
						</div>
					</div>
				</div>
			</div>
		</div>

	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="bower_components/jquery/dist/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	    <script src="bower_components/summernote/dist/summernote.min.js" type="text/javascript" charset="utf-8"></script>
	    <script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	    <script src="js/blogedit.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
